log:
  # Available values: panic, fatal, error, warn, warning, info, debug, trace
  # If omitted or empty then 'warn' level will be used
  level: "info"
  # Available values: json, text
  format: "json"

database:
  url: postgres://sentimentd:sentimentd@localhost:5432/sentimentd?sslmode=disable
  # Database trying to connect timeout. Actually tries to connect to database (using)
  timeout: "10s"
  # Default: true. When set to true then each command will try to apply migrations first.
  automigrate: true
  # Path to DB migrations, default value is "file://schema/postgres"
  migrationsPath: "file://schema/postgres"

# The configuration presented bellow runs sentimentd as a daemon which subscribed to messages
# from NATS Streaming server, analyses them though brain "skynet" and pushes the results to the NATS Streaming back.
listen:
    url: "nats://127.0.0.1:4222"
    clusterId: "test-cluster"
    clientId: "sentimentd-listener"
    source: "TweetSaved"
    target: "TweetAnalysed"
    brains:
      - "Skynet"
      - "Red Queen"