database:
  url: postgres://sentimentd:sentimentd@localhost:5432/sentimentd?sslmode=disable

# The configuration presented bellow runs sentimentd as a daemon which subscribed to messages
# from NATS Streaming server, analyses them though brain "skynet" and pushes the results to the NATS Streaming back.
listen:
  in:
    url: "nats://127.0.0.1:4222"
    clusterId: "test-cluster"
    clientId: "sentimentd"
    channel: "TweetSaved"
  out:
    url: "nats://127.0.0.1:4222"
    clusterId: "test-cluster"
    clientId: "sentimentd"
    channel: "TweetAnalysed"
  brain: "skynet"